img.thumbnail {
    height: 50px;
    width: 50px;
    margin-bottom: 2px;
}

.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */

input[type=file] {
    color: transparent;
}

figcaption {
    font-size: 0.9em;
}

.panel-body {
    padding: 0 25px;
/*     display: flex; 
 flex-flow: row wrap;
 align-content: flex end; */
}
