<div class="container">
  <!--<div class="col-md-4 col-md-offset-4">-->

  <!-- <form #registerForm="ngForm" (ngSubmit)="register()"> -->
  <form [formGroup]="registerForm" (ngSubmit)="register()">

    <h2 class="text-center text-primary">Add User</h2>

    <div class="row">

      <!-- Left hand colmn -->
      <div class="col-sm-4">
        <div class="panel panel-default">
          <!-- gender -->

          <div class="form-group">
            <label class="control-label" style="margin-right:10px">Gender: </label>
            <label class="radio-inline">
              <input type="radio" value="male" formControlName="gender">Male
            </label>
            <label class="radio-inline">
              <input type="radio" value="female" formControlName="gender">Female
            </label>
          </div>

          <!-- knownAs -->

          <div class="form-group" [ngClass]="{'has-error': registerForm.get('knownAs').touched && registerForm.get('knownAs').hasError('required')}">
            <label>Nick name:
              <input class="form-control" placeholder="Known as" formControlName="knownAs">
            </label>
            <span class="help-block" *ngIf="registerForm.get('knownAs').touched && registerForm.get('knownAs').hasError('required')">
              Known as is required
            </span>
          </div>

          <!-- firstName -->

          <div class="form-group" [ngClass]="{'has-error': registerForm.get('firstName').touched && registerForm.get('firstName').hasError('required')}">
            <label>First name:
              <input class="form-control" placeholder="First Name" formControlName="firstName">
            </label>
            <span class="help-block" *ngIf="registerForm.get('firstName').touched && registerForm.get('firstName').hasError('required')">
              First Name is required
            </span>
          </div>

          <!-- lastName -->

          <div class="form-group" [ngClass]="{'has-error': registerForm.get('lastName').touched && registerForm.get('lastName').hasError('required')}">
            <label>Last name:
              <input class="form-control" placeholder="Last Name" formControlName="lastName">
            </label>
            <span class="help-block" *ngIf="registerForm.get('lastName').touched && registerForm.get('lastName').hasError('required')">
              Last Name is required
            </span>
          </div>

          <!-- date of birth -->

          <div class="form-group" [ngClass]="{'has-error': registerForm.get('dateOfBirth').touched && registerForm.get('dateOfBirth').hasError('required')}">
            <label>Date of Birth:
              <input class="form-control" type="date" placeholder="Date of Birth" formControlName="dateOfBirth">
            </label>
            <span class="help-block" *ngIf="registerForm.get('dateOfBirth').touched && registerForm.get('dateOfBirth').hasError('required')">Date of birth is required</span>
          </div>

          <!-- city -->

          <div class="form-group" [ngClass]="{'has-error': registerForm.get('city').touched && registerForm.get('city').hasError('required')}">
            <label>City:</label>
            <input class="form-control" placeholder="City" formControlName="city">
            <span class="help-block" *ngIf="registerForm.get('city').touched && registerForm.get('city').hasError('required')">
              City is required
            </span>
          </div>

          <!-- country -->

          <div class="form-group" [ngClass]="{'has-error': registerForm.get('country').touched && registerForm.get('country').hasError('required')}">
            <label>Country:</label>
            <input class="form-control" placeholder="Country" formControlName="country">
            <span class="help-block" *ngIf="registerForm.get('country').touched && registerForm.get('country').hasError('required')">
              Country is required
            </span>
          </div>

          <!-- dawgtag -->

          <div class="form-group" [ngClass]="{'has-error': registerForm.get('dawgTag').touched && registerForm.get('dawgTag').hasError('required')}">
            <label>DawgTag:</label>
            <input class="form-control" placeholder="DawgTag" formControlName="dawgTag">
            <span class="help-block" *ngIf="registerForm.get('dawgTag').touched && registerForm.get('dawgTag').hasError('required')">
              DawgTag is required
            </span>
            <span class="help-block" *ngIf="registerForm.get('dawgTag').hasError('minlength') || registerForm.get('dawgTag').hasError('maxlength') && registerForm.get('dawgTag').touched">
              Dawgtag must be 9 characters long
            </span>
          </div>

          <!-- username -->
          <div class="form-group" [ngClass]="{'has-error': registerForm.get('username').errors && registerForm.get('username').touched}">
            <!-- <input type="text" class="form-control" placeholder="Username" required name="username" [(ngModel)]="model.username"> -->
            <label>Username:</label>
            <input type="text" class="form-control" placeholder="Username" formControlName="username">
            <span class="help-block" *ngIf="registerForm.get('username').hasError('required') && registerForm.get('username').touched">
              Username is required
            </span>
          </div>

          <!-- password -->
          <div class="form-group" [ngClass]="{'has-error': registerForm.get('password').errors && registerForm.get('password').touched}">
            <label>Password:</label>
            <input type="password" class="form-control" placeholder="Password" formControlName="password">
            <span class="help-block" *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched">
              Password is required
            </span>
            <span class="help-block" *ngIf="registerForm.get('password').hasError('minlength') && registerForm.get('password').touched">
              Password must be at least 4 characters
            </span>
            <span class="help-block" *ngIf="registerForm.get('password').hasError('maxlength') && registerForm.get('password').touched">
              Password must less than 8 characters
            </span>
          </div>

          <!-- confirm password -->
          <div class="form-group" [ngClass]="{'has-error': 
          registerForm.get('confirmPassword').errors && registerForm.get('confirmPassword').touched 
          || registerForm.get('confirmPassword').touched && registerForm.hasError('mismatch')}">
            <input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword">
            <span class="help-block" *ngIf="registerForm.get('confirmPassword').hasError('required') && registerForm.get('confirmPassword').touched">
              Confirm Password is required
            </span>
            <span class="help-block" *ngIf="registerForm.get('confirmPassword').touched && registerForm.hasError('mismatch')">
              Confirm Password must match field password
            </span>
          </div>

          <div class="form-group text-center">
            <button class="btn btn-success" [disabled]="!registerForm.valid" type="submit">Register</button>
            <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
          </div>




        </div>
        <!-- End of panel -->
      </div>
      <!-- End of col-sm-4 -->

      <!-- Right hand colmn -->
      <div class="col-sm-8">
        <div class="tab-panel">

          <!-- studentLevel -->

          <div class="form-group text-center">
            <label class="control-label" style="margin-right:10px">Student's current academic level: </label>
            <label class="radio-inline">
              <input type="radio" value="BA" formControlName="studentLevel" (click)="setStudentLevel('BA')">BA
            </label>
            <label class="radio-inline">
              <input type="radio" value="BS" formControlName="studentLevel" (click)="setStudentLevel('BS')">BS
            </label>
            <label class="radio-inline">
              <input type="radio" value="MS" formControlName="studentLevel" (click)="setStudentLevel('MS')">MS
            </label>
            <label class="radio-inline">
              <input type="radio" value="PHD" formControlName="studentLevel" (click)="setStudentLevel('PHD')">PhD
            </label>
          </div>

          <!-- Bachelor's Section -->
          <div class="tab-panel tab-panel-noborder" *ngIf="isBachelors()">
            <h3 class="text-center text-primary">Bachelor's Details:</h3>
            <hr>


            <!-- bachelorStartDate -->

            <div class="form-group" [ngClass]="{'has-error': registerForm.get('bachelorStartDate').touched && registerForm.get('bachelorStartDate').hasError('required')}">
              <label>bachelorStartDate:
                <input class="form-control" type="date" placeholder="bachelorStartDate" formControlName="bachelorStartDate">
              </label>
              <span class="help-block" *ngIf="registerForm.get('bachelorStartDate').touched && registerForm.get('bachelorStartDate').hasError('required')">bachelorStartDate is required</span>
            </div>
            <!-- Add from here.. -->
            <!-- bachelorFacultyMentor -->
            <div class="form-group" [ngClass]="{'has-error': registerForm.get('bachelorFacultyMentor').touched && registerForm.get('bachelorFacultyMentor').hasError('required')}">
              <label>bachelorFacultyMentor:
                <input class="form-control" placeholder="bachelorFacultyMentor" formControlName="bachelorFacultyMentor">
              </label>
              <span class="help-block" *ngIf="registerForm.get('bachelorFacultyMentor').touched && registerForm.get('bachelorFacultyMentor').hasError('required')">
                bachelorFacultyMentor is required
              </span>
            </div>

            <!-- seniorProjectAdvisor -->
            <div class="form-group" [ngClass]="{'has-error': registerForm.get('seniorProjectAdvisor').touched && registerForm.get('seniorProjectAdvisor').hasError('required')}">
              <label>seniorProjectAdvisor:
                <input class="form-control" placeholder="seniorProjectAdvisor" formControlName="seniorProjectAdvisor">
              </label>
              <span class="help-block" *ngIf="registerForm.get('seniorProjectAdvisor').touched && registerForm.get('seniorProjectAdvisor').hasError('required')">
                seniorProjectAdvisor is required
              </span>
            </div>

            <!-- bachelorGraduationDate -->

            <div class="form-group" [ngClass]="{'has-error': registerForm.get('bachelorGraduationDate').touched && registerForm.get('bachelorGraduationDate').hasError('required')}">
              <label>bachelorGraduationDate:
                <input class="form-control" type="date" placeholder="bachelorGraduationDate" formControlName="bachelorGraduationDate">
              </label>
              <span class="help-block" *ngIf="registerForm.get('bachelorGraduationDate').touched && registerForm.get('bachelorGraduationDate').hasError('required')">bachelorGraduationDate is required</span>
            </div>

            <!-- seniorProjectTitle -->
            <div class="form-group" [ngClass]="{'has-error': registerForm.get('seniorProjectTitle').touched && registerForm.get('seniorProjectTitle').hasError('required')}">
              <label>seniorProjectTitle:
                <input class="form-control" placeholder="seniorProjectTitle" formControlName="seniorProjectTitle">
              </label>
              <span class="help-block" *ngIf="registerForm.get('seniorProjectTitle').touched && registerForm.get('seniorProjectTitle').hasError('required')">
                seniorProjectTitle is required
              </span>
            </div>

            <!-- seniorProjectURL -->
            <div class="form-group" [ngClass]="{'has-error': registerForm.get('seniorProjectURL').touched && registerForm.get('seniorProjectURL').hasError('required')}">
              <label>seniorProjectURL:
                <input class="form-control" placeholder="seniorProjectURL" formControlName="seniorProjectURL">
              </label>
              <span class="help-block" *ngIf="registerForm.get('seniorProjectURL').touched && registerForm.get('seniorProjectURL').hasError('required')">
                seniorProjectURL is required
              </span>
            </div>

          </div>
          <!-- End Bachelor's Section -->



          <!-- Master's Section -->
          <div class="tab-panel tab-panel-noborder" *ngIf="isMasters()">

            <h3 class="text-center text-primary">Master's Details:</h3>
            <hr>

            <!-- masterFocus Project/Thesis -->
            <div class="form-group">
              <label class="control-label" style="margin-right:10px">Master's Focus: </label>
              <label class="radio-inline">
                <input type="radio" value="Project" formControlName="masterFocus">Project
              </label>
              <label class="radio-inline">
                <input type="radio" value="Thesis" formControlName="masterFocus">Thesis
              </label>
            </div>


            <!-- masterCommitteeMember1 -->
            <div class="form-group" [ngClass]="{'has-error': registerForm.get('masterCommitteeMember1').touched && registerForm.get('masterCommitteeMember1').hasError('required')}">
              <label>masterCommitteeMember1:
                <input class="form-control" placeholder="masterCommitteeMember1" formControlName="masterCommitteeMember1">
              </label>
              <span class="help-block" *ngIf="registerForm.get('masterCommitteeMember1').touched && registerForm.get('masterCommitteeMember1').hasError('required')">
                masterCommitteeMember1 is required
              </span>
            </div>
            <!-- masterCommitteeMember2 -->
            <div class="form-group" [ngClass]="{'has-error': registerForm.get('masterCommitteeMember2').touched && registerForm.get('masterCommitteeMember2').hasError('required')}">
              <label>masterCommitteeMember2:
                <input class="form-control" placeholder="masterCommitteeMember2" formControlName="masterCommitteeMember2">
              </label>
              <span class="help-block" *ngIf="registerForm.get('masterCommitteeMember2').touched && registerForm.get('masterCommitteeMember2').hasError('required')">
                masterCommitteeMember2 is required
              </span>
            </div>
            <!-- masterCommitteeMember3 -->
            <div class="form-group" [ngClass]="{'has-error': registerForm.get('masterCommitteeMember3').touched && registerForm.get('masterCommitteeMember3').hasError('required')}">
              <label>masterCommitteeMember3:
                <input class="form-control" placeholder="masterCommitteeMember3" formControlName="masterCommitteeMember3">
              </label>
              <span class="help-block" *ngIf="registerForm.get('masterCommitteeMember3').touched && registerForm.get('masterCommitteeMember3').hasError('required')">
                masterCommitteeMember3 is required
              </span>
            </div>

            <!-- masterDefenseDate -->

            <div class="form-group" [ngClass]="{'has-error': registerForm.get('masterDefenseDate').touched && registerForm.get('masterDefenseDate').hasError('required')}">
              <label>masterDefenseDate:
                <input class="form-control" type="date" placeholder="masterDefenseDate" formControlName="masterDefenseDate">
              </label>
              <span class="help-block" *ngIf="registerForm.get('masterDefenseDate').touched && registerForm.get('masterDefenseDate').hasError('required')">masterDefenseDate is required</span>
            </div>

            <!-- masterThesisTitle -->
            <div class="form-group" [ngClass]="{'has-error': registerForm.get('masterThesisTitle').touched && registerForm.get('masterThesisTitle').hasError('required')}">
              <label>masterThesisTitle:
                <input class="form-control" placeholder="masterThesisTitle" formControlName="masterThesisTitle">
              </label>
              <span class="help-block" *ngIf="registerForm.get('masterThesisTitle').touched && registerForm.get('masterThesisTitle').hasError('required')">
                masterThesisTitle is required
              </span>
            </div>

            <!-- masterGraduationDate -->

            <div class="form-group" [ngClass]="{'has-error': registerForm.get('masterGraduationDate').touched && registerForm.get('masterGraduationDate').hasError('required')}">
              <label>masterGraduationDate:
                <input class="form-control" type="date" placeholder="masterGraduationDate" formControlName="masterGraduationDate">
              </label>
              <span class="help-block" *ngIf="registerForm.get('masterGraduationDate').touched && registerForm.get('masterGraduationDate').hasError('required')">masterGraduationDate is required</span>
            </div>

          </div>
          <!-- End Master's Section -->


          <!-- Doctorate's Section -->
          <div class="tab-panel tab-panel-noborder" *ngIf="isDoctorate()">
            <h3 class="text-center text-primary">Doctorate's Details:</h3>
            <hr>

            <!-- doctorateStartDate -->

            <div class="form-group" [ngClass]="{'has-error': registerForm.get('doctorateStartDate').touched && registerForm.get('doctorateStartDate').hasError('required')}">
              <label>doctorateStartDate:
                <input class="form-control" type="date" placeholder="doctorateStartDate" formControlName="doctorateStartDate">
              </label>
              <span class="help-block" *ngIf="registerForm.get('doctorateStartDate').touched && registerForm.get('doctorateStartDate').hasError('required')">doctorateStartDate is required</span>
            </div>

            <!-- doctorateCandidateAcceptDate -->

            <div class="form-group" [ngClass]="{'has-error': registerForm.get('doctorateCandidateAcceptDate').touched && registerForm.get('doctorateCandidateAcceptDate').hasError('required')}">
              <label>doctorateCandidateAcceptDate:
                <input class="form-control" type="date" placeholder="doctorateCandidateAcceptDate" formControlName="doctorateCandidateAcceptDate">
              </label>
              <span class="help-block" *ngIf="registerForm.get('doctorateCandidateAcceptDate').touched && registerForm.get('doctorateCandidateAcceptDate').hasError('required')">doctorateCandidateAcceptDate is required</span>
            </div>


            <!-- doctorateAdvisor -->
            <div class="form-group" [ngClass]="{'has-error': registerForm.get('doctorateAdvisor').touched && registerForm.get('doctorateAdvisor').hasError('required')}">
              <label>doctorateAdvisor:
                <input class="form-control" placeholder="doctorateAdvisor" formControlName="doctorateAdvisor">
              </label>
              <span class="help-block" *ngIf="registerForm.get('doctorateAdvisor').touched && registerForm.get('doctorateAdvisor').hasError('required')">
                doctorateAdvisor is required
              </span>
            </div>

            <!-- doctorateCommitteeMember1 -->
            <div class="form-group" [ngClass]="{'has-error': registerForm.get('doctorateCommitteeMember1').touched && registerForm.get('doctorateCommitteeMember1').hasError('required')}">
              <label>doctorateCommitteeMember1:
                <input class="form-control" placeholder="doctorateCommitteeMember1" formControlName="doctorateCommitteeMember1">
              </label>
              <span class="help-block" *ngIf="registerForm.get('doctorateCommitteeMember1').touched && registerForm.get('doctorateCommitteeMember1').hasError('required')">
                doctorateCommitteeMember1 is required
              </span>
            </div>

            <!-- doctorateCommitteeMember2 -->
            <div class="form-group" [ngClass]="{'has-error': registerForm.get('doctorateCommitteeMember2').touched && registerForm.get('doctorateCommitteeMember2').hasError('required')}">
              <label>doctorateCommitteeMember2:
                <input class="form-control" placeholder="doctorateCommitteeMember2" formControlName="doctorateCommitteeMember2">
              </label>
              <span class="help-block" *ngIf="registerForm.get('doctorateCommitteeMember2').touched && registerForm.get('doctorateCommitteeMember2').hasError('required')">
                doctorateCommitteeMember2 is required
              </span>
            </div>


            <!-- doctorateCommitteeMember3 -->
            <div class="form-group" [ngClass]="{'has-error': registerForm.get('doctorateCommitteeMember3').touched && registerForm.get('doctorateCommitteeMember3').hasError('required')}">
              <label>doctorateCommitteeMember3:
                <input class="form-control" placeholder="doctorateCommitteeMember3" formControlName="doctorateCommitteeMember3">
              </label>
              <span class="help-block" *ngIf="registerForm.get('doctorateCommitteeMember3').touched && registerForm.get('doctorateCommitteeMember3').hasError('required')">
                doctorateCommitteeMember3 is required
              </span>
            </div>

            <!-- doctorateCommitteeMember4 -->
            <div class="form-group" [ngClass]="{'has-error': registerForm.get('doctorateCommitteeMember4').touched && registerForm.get('doctorateCommitteeMember4').hasError('required')}">
              <label>doctorateCommitteeMember4:
                <input class="form-control" placeholder="doctorateCommitteeMember4" formControlName="doctorateCommitteeMember4">
              </label>
              <span class="help-block" *ngIf="registerForm.get('doctorateCommitteeMember4').touched && registerForm.get('doctorateCommitteeMember4').hasError('required')">
                doctorateCommitteeMember4 is required
              </span>
            </div>

            <!-- doctorateCommitteeMember5 -->
            <div class="form-group" [ngClass]="{'has-error': registerForm.get('doctorateCommitteeMember5').touched && registerForm.get('doctorateCommitteeMember5').hasError('required')}">
              <label>doctorateCommitteeMember5:
                <input class="form-control" placeholder="doctorateCommitteeMember5" formControlName="doctorateCommitteeMember5">
              </label>
              <span class="help-block" *ngIf="registerForm.get('doctorateCommitteeMember5').touched && registerForm.get('doctorateCommitteeMember5').hasError('required')">
                doctorateCommitteeMember5 is required
              </span>
            </div>

            <!-- doctorateCommitteeMember6 -->
            <div class="form-group" [ngClass]="{'has-error': registerForm.get('doctorateCommitteeMember6').touched && registerForm.get('doctorateCommitteeMember6').hasError('required')}">
              <label>doctorateCommitteeMember6:
                <input class="form-control" placeholder="doctorateCommitteeMember6" formControlName="doctorateCommitteeMember6">
              </label>
              <span class="help-block" *ngIf="registerForm.get('doctorateCommitteeMember6').touched && registerForm.get('doctorateCommitteeMember6').hasError('required')">
                doctorateCommitteeMember6 is required
              </span>
            </div>


            <!-- dissertationDefenseDate -->

            <div class="form-group" [ngClass]="{'has-error': registerForm.get('dissertationDefenseDate').touched && registerForm.get('dissertationDefenseDate').hasError('required')}">
              <label>dissertationDefenseDate:
                <input class="form-control" type="date" placeholder="dissertationDefenseDate" formControlName="dissertationDefenseDate">
              </label>
              <span class="help-block" *ngIf="registerForm.get('dissertationDefenseDate').touched && registerForm.get('dissertationDefenseDate').hasError('required')">dissertationDefenseDate is required</span>
            </div>

            <!-- dissertationTitle -->
            <div class="form-group" [ngClass]="{'has-error': registerForm.get('dissertationTitle').touched && registerForm.get('dissertationTitle').hasError('required')}">
              <label>dissertationTitle:
                <input class="form-control" placeholder="dissertationTitle" formControlName="dissertationTitle">
              </label>
              <span class="help-block" *ngIf="registerForm.get('dissertationTitle').touched && registerForm.get('dissertationTitle').hasError('required')">
                dissertationTitle is required
              </span>
            </div>

            <!-- doctorateGraduationDate -->

            <div class="form-group" [ngClass]="{'has-error': registerForm.get('doctorateGraduationDate').touched && registerForm.get('doctorateGraduationDate').hasError('required')}">
              <label>doctorateGraduationDate:
                <input class="form-control" type="date" placeholder="doctorateGraduationDate" formControlName="doctorateGraduationDate">
              </label>
              <span class="help-block" *ngIf="registerForm.get('doctorateGraduationDate').touched && registerForm.get('doctorateGraduationDate').hasError('required')">doctorateGraduationDate is required</span>
            </div>


          </div>
          <!-- End of Master's Section -->

        </div>
        <!-- End tab-panel -->
      </div>
      <!-- End right hand column -->
    </div>



    <!-- Issue with ngx-bootstrap's datepicker requiring Angular version 6 to work!
      https://github.com/valor-software/ngx-bootstrap/issues/4389
         https://www.udemy.com/build-an-app-with-aspnet-core-and-angular-from-scratch/learn/v4/questions/4129708
         npm list -depth 0
         npm install ngx-bootstrap@2.0.5
        -->

    <!--   <div class="form-group" [ngClass]="{'has-error': registerForm.get('dateOfBirth').touched && registerForm.get('dateOfBirth').hasError('required')}">      
      <input class="form-control" type="text" bsDatepicker #dp="bsDatepicker" [bsConfig]="bsConfig" placeholder="Date of Birth" formControlName="dateOfBirth">
      <span class="help-block" *ngIf="registerForm.get('dateOfBirth').touched && registerForm.get('dateOfBirth').hasError('required')">Date of birth is required</span>
    </div> -->




  </form>

  <!--   <hr>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Username" required name="username" [(ngModel)]="model.username">
  </div>

  <div class="form-group">
    <input type="password" class="form-control" placeholder="Password" required name="password" [(ngModel)]="model.password">
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success" type="submit">Register</button>
    <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
  </div> 
</form>-->

  <!--</div>-->
</div>

<input type="button" (click)="DownloadFile()" value="DownloadFile" />